* {
  background-color: #f0a5dd;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  font-family: sans-serif;

}

.header {
  overflow: hidden;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  background-color: #b4d9e4;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: purple;
  color: white;
}







.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(173, 124, 253);
}

.container div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.my-button {
  background-color: #b4d9e4;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  border-color: #b4d9e4;
  margin: 10px;
  padding: 20px;
  font-size: 30px;

}

.my-button:hover {
  background-color: #ddd;
}

h1 {
  opacity: 1.0;
  color: blueviolet
}

.login-container {
  border-style: dashed;
  color: rgb(86, 59, 112)
}

#bdy-txt {
  text-align: center;
  transition: 0.5s ease-in-out;
}