* {
    background-color: #f0a5dd;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif;

}

.container {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  background-color: rgb(173, 124, 253);
}

.container div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.my-button {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;

} 
.my-button:hover {
  background-color: darkgray;
}

h1 {
    opacity:1.0;
    color: blueviolet
}

.login-container {
    border-style: dashed;
    color: blueviolet

}

#bdy-txt{
    text-align:center;
    transition: 0.5s ease-in-out;
}